<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.insearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Insearch">
        <activity android:name=".Apply_Internship"></activity>
        <activity android:name=".Company_student_view"/>
        <activity android:name=".List_feed" />
        <activity android:name=".View_feedback" />
        <activity android:name=".Feedback" />
        <activity android:name=".Internship" />
        <activity android:name=".Stud_profile" />
        <activity android:name=".Comp_profile" />
        <activity android:name=".Company_Home" />
        <activity android:name=".Student_Home" />
        <activity android:name=".Comp_reg" />
        <activity android:name=".CompanyLogin" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".Stud_reg" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>